.toggle{
    color: blue;
}

/* #button-form{
        padding-left: 50px;
   

} */

#form{
   /* text-align: center; */
   /* padding-right: 250px; */
   margin-left: 41.5%;
   padding-right: 55px;

}

.tagline{
    text-align: center;
    
}

#title{
    text-align: center;
    margin-right: 50px;
}

.poster{
    
    text-align: center;
    
}

#overview{
    text-align: center;
}
#emtpy-div{
    position: relative;
}