.votes{
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    background-color: #202020;

    /* background-color: #22254b; */
    padding: 7px;
    font-size: 15px;
    /* margin-left: 15rem; */
}


.film img{
    max-width: 100%;
}

/* #button-form{
        padding-left: 50px;
   

} */

#form{
    border-radius: 20px;
    padding: 5px;
    /* padding-right: 250px; */
    /* margin-left: 41.5%; */
    padding-right: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;
    margin-top: 15px;

}

.tagline{
    text-align: center;
    

}

#corn-container{
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: end;
}
#search-movie:hover{
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
#title{
    text-align: center;
    /* margin-right: 50px; */
    color: white;
    margin-bottom: 0;
}

.poster{
    
    text-align: center;
    
}

#overview{
    text-align: center;
    color: white;
}
#emtpy-div{
    position: relative;
}
.votes{
/* display:inline; */
}
.like-button{
    height: 50px;
    width:50px;
    /* margin-left: 7.25rem; */
    /* margin: auto; */
    /* display: inline; */
}
.movie-title{
    text-align: center;
    font-size: 15.5px;
}
.toggle{
    background-color: #22254b;
    
}
.container{
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;
}
body{
    background-color: #202020;
    /* background-color: #22254b; */
}
*{
    box-sizing: border-box;
}

.top20{

    margin: 3rem;
    display: inline-block;
    align-items: center;
}

.userSearch{
    /* padding-left: 75px; */
    margin: 3rem;
    display: inline-block;
    align-items: center;
}

.film{
    /* background-color: #373b69; */
    background-color: #303030;
    width: 300px;
    border-radius: 2px;
    box-shadow: 0 10px 8px rgba(0,0,0,0.2);
    
    
    /* display: inline-block; */
    /* margin: 3rem; */
    /* display: flex;
    justify-content: space-between; */
    

}
.film-info{
    padding: .8rem;
    color: white;
    /* THINK ABOUT THIS VVV */
    /* text-align: center; */
  
    
    
}
.film-info h4{
    margin: 0;
}

.film-info span {
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    background-color: #202020;

    /* background-color: #22254b; */
    padding: 7px;
    font-size: 15px;
    margin-left: 15rem;
}
.votes{
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    background-color: #202020;

    /* background-color: #22254b; */
    padding: 7px;
    font-size: 15px;
    /* margin-left: 15rem; */
}

#popcorn{
    margin-top: 12px;
    height:37.5px;
 
    width: 37.5px;
}

.film img{
    max-width: 100%;
}

/* #button-form{
        padding-left: 50px;
   

} */

#form{
    border-radius: 20px;
    padding: 5px;
    /* padding-right: 250px; */
    /* margin-left: 41.5%; */
    padding-right: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;
    margin-top: 15px;

}
#search-movie{
    display: block;
    margin-right: 5px;
    margin-left: auto;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    color: white;
    background-color: #485461;
    /* background-image: aliceblue; */
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border-radius: 20px;
}
.tagline{
    text-align: center;
    
}
#search-movie:hover{
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
#title{
    text-align: center;
    /* margin-right: 50px; */
    color: white;
    margin-bottom: 0;
}

.poster{
    
    text-align: center;
    
}

#overview{
    text-align: center;
    color: white;
}
#emtpy-div{
    position: relative;
}
.votes{
/* display:inline; */
}
.like-button{
    padding: 10px;
    height: 50px;
    width:50px;

    /* margin-left: 7.25rem; */
    /* margin: auto; */
    /* display: inline; */
}
.movie-title{
    text-align: center;
    font-size: 15.5px;
}

.button-container{
display: flex;
flex-direction: row;
}

#justify{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart{
    height: 30px;
    width: 30px;
    
}
#heart-container{
    padding: 10px;

}
#return {

    /* margin-left: 0; */
    display: block;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    color: white;
    /* background-color: #485461; */
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border-radius: 20px;
    margin-right: auto;
    margin-left: 5px;
}